<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhe.exshophd.mapper.SlidepicMapper">

    <select id="firstUse" resultType="com.jizhe.exshophd.entity.Slidepic">
        select * from slidepic where sli_isuse = 1 ORDER BY sli_id limit 1
    </select>
</mapper>
